attrs==21.4.0
aws-cdk-lib==2.19.0
beautifulsoup4==4.10.0
cattrs==1.10.0
certifi==2020.12.5
chardet==4.0.0
constructs==10.0.106
cssselect==1.1.0
distlib==0.3.4
filelock==3.6.0
idna==2.10
jsii==1.55.1
lxml==4.8.0
numpy==1.22.3
pandas==1.4.2
pipenv==2022.3.28
platformdirs==2.5.1
publication==0.0.3
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.1
six==1.16.0
soupsieve==2.3.2
typing-extensions==4.1.1
urllib3==1.26.5
virtualenv==20.14.0
virtualenv-clone==0.5.7
